# Git
.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

rssagg
debug_rssagg
rss_server
ass.exe
*.exe
*.out
*.test

.env
.env.*
!.env.example

*.log
server.log
test_app.log

vendor/

.vscode/
.idea/

*.tmp
*.swp
*.swo
